<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:3000/Galaktyki/lista">Galaktyki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Gwiazdy/lista">Gwiazdy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Planety/lista">Planety</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Ksiezyce/lista">Ksiezyce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Zwierzeta/lista">Zwierzeta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Rosliny/lista">Rosliny</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Materialy/lista">Materialy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Krysztaly_i_mineraly/lista">Krysztaly i mineraly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/Statki_gwiezdne/lista">Statki gwiezdne</a>
        </li>
      </ul>
      <span class="navbar-text">
          <form class="d-flex" method='post' action='http://localhost:3000/logout'>
            <button class="btn btn-danger btn-sm" type="submit">Wyloguj</button>
          </form>
      </span>
    </div>
  </div>
</nav>
