<div class='container'>
  <h1>Formularz logowania</h1>
    <form action="login" method="POST">
        <label>Nazwa użytkownika:</label>
        <input type="text" name="username" />
        <br />
        <label>Hasło:</label>
        <input type="password" name="password" />
        <br />
        <input type="submit" value="Zaloguj" />
    </form>
</div>



