<div class="container">
    <form action="http://localhost:3000/Logowanie/add" method='post'>
         <input type="hidden" name='ID' value=''>
         <div class="mb-3">
            <label for="nazwa" class="form-label">Nazwa</label>
            <input type="text" class="form-control" id="nazwa" name="nazwa" value=''>
            <label for="nazwa" class="form-label">Hasło</label>
            <input type="text" class="form-control" id="nazwa" name="nazwa" value=''>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Zapisz</button>
    </form>
</div>