<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Formularz logowania</title>
    </head>
    <body>
        <h1>Formularz logowania</h1>
        <form action="" method="">
            <label>Nazwa użytkownika:</label>
            <input type="text" name="username" />
            <br />
            <label>Hasło:</label>
            <input type="password" name="password" />
            <br />
            <input type="submit" value="Zaloguj" />
        </form>
    </body>
</html>